* {
    margin: 0;
    border: 0;
}

img {
    width: 155px;
    height: 155px;
    border-radius: 20px;
    cursor: pointer;
}


img:hover{
    box-shadow: 0 0 1em rgb(138, 137, 137);
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 650px;
    background-color: rgb(236, 234, 234);
    overflow: hidden;
    border-radius: 20px;
}

.linhas{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
}
.sinopse{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;    

}
.sinopse-texto{
    width: 130px;
    margin-left: 15px;

}
.sinopse-texto p{
font-size: 15px;
}
